{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cat House</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css\style.css' %}" >
    </head>
    <body>

        <header>
            <nav>
                <a href="/">
                    <img class="logo" src="{% static 'img/cat_icon_138789.png' %}" alt="Logo" >
                </a>

                <div class ="patinhas">
                    <img src="{% static 'img/patinhas.png' %}" alt="Patinhas1">
                </div>

                <ul class="nav-list">
                    <li><a href="">Carrinho</a></li>
                    <li><img class="usuario" src="{% static 'img/usuario/marcos.jpg' %}" alt="Perfil"></li>
                    <li class="userName"><a>Marcos</a></li>   
                </ul>
                
            </nav>
        </header>

        {% block content %}{% endblock %}
    </body>
</html>