{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    {% if user.is_anonymous %}

        <div class="titulo">
            <h1>Erro</h1>
        </div>

        <h3>Login necessário para acessar as informações dessa página.</h3>
    
    {% else %}
        <div class="titulo">
            <h1>Carrinho</h1>
        </div>

        {% if carrinho %}
            <table class="listaDoCarrinho">
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Preço Total</th>
                    <th></th>
                </tr>
                
                
                {% for item in carrinho %}
                    <tr>
                        <td>{{ item.produto.nome }}</td>
                        <td>
                            
                            <form class="formDaQuantidadeNoCarrinho" action="{% url 'adicionar' item.produto.id %}" method="post">
                                {% csrf_token %}
                                <div class="quantidadeNoCarrinho">
                                    <div>
                                        {% render_field item.update_quantidade_form.quantidade class+="form-control" %}
                                    </div>
                                    <div>
                                        <button type="submit">Atualizar</button>
                                    </div>
                                </div>
                                {{ item.update_quantidade_form.override }}
                            </form>
                        
                        </td>
                        <td>R$ {{ item.preco }}</td>
                        <td>R$ {{ item.preco_total }}</td>
                        <td>
                            <form action="{% url 'remover' item.produto.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Remover</button>
                            </form>
                        </td>
                    </tr>
   
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>R$ {{carrinho.get_preco_total}}</td>
                    <td><button>Comprar</button></td>
                </tr>
            </table>

        {% else %}
            <h3>Nenhum produto no carrinho.</h3>

        {% endif %}
    {% endif %}

{% endblock %}