{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="titulo">
        <h1>Carrinho</h1>
    </div>
    
    <div class="produtosNoCarrinho">

        <div class='produtoNoCarrinho'>
            
            <div class='imagemNoCarrinho'>
                <img src="produto/Racao de gato 1.jpg" alt="Produto">
            </div>
            
            <div class='textosNoCarrinho'>
                <p class="descricao"> aaaaa qqq qqq qq qq qq qq qq Úmida Royal Canin Sachê Instinctive - Gatos Filhotes - 85g</p>
            </div>
            <div class="precoNoCarrinho">
                <b >R$ 299,99 à vista</b>

            </div>
            <div>
                <select name="" id="numero"></select>
            </div>
        </div>
        
    </div>


{% endblock %}