{% load static %}

    
    <div class="produtos">
        {% for p in produtos %}
            <div class='produto'>
                
                <div class='imagem'>
                    <img src="{{ p.imagemPrincipal.thumb.url }}" alt="Produto">
                </div>
            
                <div class='textos'>
                    <p class="descricao">{{ p.nome }}</p>
                    <b class="preco">R$ {{ p.preco }} À Vista</b>
                </div>
            </div>
        
        {% endfor %}
        
    </div>