{% load static %}
{% load widget_tweaks %}
    
    <div class="produtos">
        {% for p in produtos %}

            <div class='produto'>
            
            <div class='imagem'>
                <img src="{{ p.imagemPrincipal.thumb.url }}" alt="Produto">
            </div>
            
            <div class='textos'>
                <p class="descricao">{{ p.nome }}</p>
            </div>
            <div class="preco">
                <b>R$ {{ p.preco }} À Vista</b>

            </div>
            <div class="carrinho">
                {% if user.is_anonymous %}
                <button class="facaLogin">Faça login para usar o carrinho</button>
                {% else %}


                <form action="{% url 'adicionar' p.id %}" method="post">
                    {% csrf_token %}
                    <div class="quantidade">
                        {{ form }}
                    </div>
                    <div class="adicionarAoCarrinho">
                        <button type="submit"><img src="{% static 'img/carrinho.png' %}" alt="Carrinho"></button>
                        
                    </div>
                </form>   

                {% endif %}
            </div>
        </div>
        
        {% endfor %}
        
    </div>